{{!-- <div id="following-list-handle-bar" class="class-handlebars">
  <h3>Following</h3>
  <div class="search-container">
    <input type="text" id="user-search" placeholder="Search users...">
     <div id="search-dropdown" class="search-dropdown"></div>
  </div>
  <button id="search-user">Search</button>
  <button id="update-following">Update Following</button>
    <div class="following-list">

         <ul>
        {{#each followingUsers}}
        <li>{{this.name}}</li>
        {{else}}
        <p>No users followed.</p>
        {{/each}}
    </ul>
  </div> --}}

<div class="following-list">
    <h5>Following</h5>



    <div class="input-group mb-3">
        <input type="text" class="form-control" id="userSearchInput" placeholder="Search people..." aria-label="Search people" aria-describedby="goButton">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="goButton">Go</button>
        </div>
        <div class="search-suggestions dropdown-menu" aria-labelledby="userSearchInput" id="search-Dropdown"></div>
    </div>

    <!-- List -->
    <ul class="list-group">
        <!-- list element will be appended here -->
    </ul>
</div>
