
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form id="searchRanking">
                <!-- Dropdown for Category -->
                <div class="form-group">
                    <label for="categorySelectSearch">Category</label>
                    <select class="form-control" id="categorySelectSearch">
                        <!-- Options will be populated here -->
                    </select>
                </div>

                <!-- Checkboxes for Gender -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="maleCheckbox" value="male">
                    <label class="form-check-label" for="maleCheckbox">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="femaleCheckbox" value="female">
                    <label class="form-check-label" for="femaleCheckbox">Female</label>
                </div>

                <!-- Number Fields for Age -->
                <div class="form-row">
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Min Age" id="minAge">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Max Age" id="maxAge">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3" id="searchButtonRanking">Search</button>
            </form>
        </div>
    </div>
</div>