<!-- Search Bar Partial -->
<div class="container">
    <div class="row align-items-center">
        <!-- Dropdown for Search Type -->
        <div class="col-auto">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="searchTypeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search Type
                </button>
                <div class="dropdown-menu" aria-labelledby="searchTypeDropdown">
                    <a class="dropdown-item" href="#">Review</a>
                    <a class="dropdown-item" href="#">Business</a>
                    <a class="dropdown-item" href="#">Ranking</a>

                </div>
            </div>
        </div>


        <div class="col">
            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
        </div>


        <div class="col-auto">
            <button class="btn btn-primary" id="searchButton">Search</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col">

            <div class="d-flex justify-content-start">
                <div class="form-check mr-2">
                    <input class="form-check-input" type="checkbox" value="" id="option1">
                    <label class="form-check-label" for="option1">
                        Option 1
                    </label>
                </div>
                <div class="form-check mr-2">
                    <input class="form-check-input" type="checkbox" value="" id="option2">
                    <label class="form-check-label" for="option2">
                        Option 2
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
