<div id="user-details-handle-bar" class="class-handlebars">
  <h1>Non-User Profile</h1>
  <div class="user-info">
    <p>Name: {{user.firstName}}</p>
    <p>UserName: {{user.username}}</p>
  </div>
  <form action="/login" method="get">
  <button type="submit" id="login-screen">ADD USER</button>
   </form>
</div>