<div class="container mt-4">
    <form action="/review/createReview" method="POST" name="reviewForm" id="reviewForm" class="p-4 border rounded"
        enctype="multipart/form-data">

        <!-- Categories Dropdown -->
        <div class="form-group">
            <label for="categorySelect">Select Category:</label>
            <select name="categoryId" id="categorySelect" class="form-control" onchange="loadBusinesses()">
                {{#each categories}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <!-- Businesses Dropdown -->
        <div class="form-group">
            <label for="businessSelect">Select Business:</label>
            <select name="businessId" id="businessSelect" class="form-control">
                <!-- Businesses will be loaded based on selected category -->
            </select>
        </div>

        <!-- Link to Add Business Page -->
        <p>Business not found? <a href="/business/createBusiness">Add one</a></p>

        <!-- Review Text -->
        <div class="form-group">
            <label for="reviewText">Write your review:</label>
            <textarea name="reviewText" class="form-control" id="reviewText"
                placeholder="Write your review..."></textarea>
        </div>
        {{#if CannotAdd}}
        <div class="alert alert-warning">
            You cannot add another review for the same business. Modify your existing review instead.
        </div>
        {{/if}}

        <!-- Rating Dropdown -->
        <div class="form-group">
            <label for="ratingPoints">Select rating out of 5:</label>
            <select name="ratingPoints" id="ratingPoints" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <!-- Image Upload -->
        <div class="form-group">
            <label for="imagePath">Wanna upload the image?</label>
            <input type="file" name="imagePath" id="imagePath" class="form-control-file">
        </div>

        <button type="submit" class="btn btn-primary">Submit Review</button>
    </form>
</div>