<div id="homePage">
    <!-- Search Reviews -->
    {{> search}}

     <div id="contentContainer">
        <!-- User Feed in the middle -->
        {{> feed}}

        <!-- Following List on the right side -->
        {{> following}}
    </div>
</div>