<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            {{> searchBar}}
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-3">
            {{> userProfile}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{> feed}}
        </div>
        <div class="col-md-3">
            {{> userProfileFull}}
        </div>
        <div class="col-md-3">
            {{> followingList}}
        </div>
    </div>
   
</div>
