<div id="handlebars-container">
    This is home

    <div>
        {{> userProfile }}
    </div>

    <div>
        {{> followingList }}
    </div>

    <div>
        {{> feed }}
    </div>
    
    

</div>
<a href="#" id="refresh-link">Refresh Content</a>