<!-- Back to Home Link -->
<a href="/home" class="back-to-home-link">Home</a>  
<div id="homePage">
    <!-- Search Reviews -->

    <div id="addReviewContainer">
        <a href="/review/createReview" class="addReviewButton">Add Review</a>
    </div>

    {{> search}}

    <div id="contentContainer">
        <!-- User Feed in the middle -->
        {{> feed}}

        <!-- Following List on the right side -->
        {{> following}}
    </div>
</div>