<div id="handlebars-container">
    This is home

    <div class="user-profile">
        {{> userProfile }}
    </div>

    <div class="following-list">
        {{> followingList }}
    </div>

    <div class="feed">
        {{> feed }}
    </div>
    
    

</div>
<a href="#" id="refresh-link">Refresh Content</a>