<div id="handlebars-container">
    This is home
</div>
    <div class="user-profile">
        {{> userProfile }}
    </div>

    <div class="following-list">
        {{> followingList }}
    </div>

    <div class="feed">
        {{> feed }}
    </div>
    <div class=" search-bar">
     <label class="business-search-bar"for ="search">Search:</label>
        <input id="search" type="text" name="searchTerm" placeholder="Search for business..." value="{{search_term_value}}">
        <button type="submit">Search</button>
</div>
<button class="refershbutton">
    <a href="#" id="refresh-link">Refresh Content</a></button>
