
header {
    background: blueviolet;
    background-color: blueviolet;
    color:cadetblue;
    
} */
header {
    background: linear-gradient(to right, #007bff, #ff1493); 
    top: 0;
    color: white; 
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    
    background: blueviolet;
    bottom: 0;
    margin-top: 50px;
    position: fixed;
    width:100%;
}
.userProfile {
    text-align: right;
}

.searchBar {
    text-align: left;
}

#searchTypeDropdown + .dropdown-menu {
    left: 0;
}

.d-flex .form-check {
    margin-right: 10px;
}


#searchInput, #searchButton {
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .d-flex .form-check {
        flex-basis: 100%;
        margin-bottom: 5px;
    }
}

.user-profile {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
}

.user-image-placeholder {
    /* Styles for the image placeholder */
    width: 50px;
    height: 50px;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Adjust as needed */
}

.user-info {
    font-size: 0.9rem;
}

.search-suggestions {
    position: absolute;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Initially hidden */
}

.search-suggestions .dropdown-item {
    cursor: pointer;
    padding: 5px 10px;
}

/* Show suggestions when there are items */
#userSearchInput:not(:empty) ~ .search-suggestions {
    display: block;
}

.userProfileFull .user-image-placeholder {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 50%;
    /* Other styling as needed */
}

#contentContainer {
    display: flex;
    justify-content: space-between;
}

#userFeed {
    /* Assuming you want the feed to take more space */
    flex: 3;
}

#followingList {
    flex: 1;
}

#addReviewContainer {
    position: absolute;
    top: 75px;
    right: 10px;
}

.addReviewButton {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.addReviewButton:hover {
    background-color: #0056b3;
}

.back-to-home-link {
    display: block;
    margin-top: 20px;
    margin-right: 30cm;
    text-decoration: none;
    /*color: #000; Adjust the color as needed */
    font-weight: bold;
    font-size: 16px;
}

.wide-form {
    width: 300px; /* or any width you prefer */
    /* max-width: 1000px; */
    /* margin: auto;   */
}
