.userProfile {
    text-align: right;
}

.searchBar {
    text-align: left;
}

#searchTypeDropdown + .dropdown-menu {
    left: 0;
}

.d-flex .form-check {
    margin-right: 10px;
}


#searchInput, #searchButton {
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .d-flex .form-check {
        flex-basis: 100%;
        margin-bottom: 5px;
    }
}

.user-profile {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
}

.user-image-placeholder {
    /* Styles for the image placeholder */
    width: 50px;
    height: 50px;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Adjust as needed */
}

.user-info {
    font-size: 0.9rem;
}

.search-suggestions {
    position: absolute;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Initially hidden */
}

.search-suggestions .dropdown-item {
    cursor: pointer;
    padding: 5px 10px;
}

/* Show suggestions when there are items */
#userSearchInput:not(:empty) ~ .search-suggestions {
    display: block;
}