/*Temp Style*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}
header {
    background: linear-gradient(to right, #007bff, #ff1493); 
    top: 0;
    color: white; 
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    
}

footer {
    background: linear-gradient(to right, #008080, #ffa500);
    color: white; 
    text-align: center;
    padding: 10px 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
}


main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Labels and Inputs */
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Error Message Styling */
.errorMessage {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

/* Button Styling */
button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}

/* Link Styling */
p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
.handlebars-container {
    display: grid;
    grid-template-columns: 30% 40% 30%; /* 3 columns */
    gap: 10px; /* Space between grid items */
    padding-top: 60px; /* Adjust as needed to avoid overlapping with the header */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
}

#user-profile-handle-bar,
#feed-handle-bar,
#following-list-handle-bar {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#user-profile-handle-bar {
    grid-column: 1;
}

#feed-handle-bar {
    grid-column: 2;
}

#following-list-handle-bar {
    grid-column: 3;
}
.search-dropdown {
    display: none; /* Initially hidden */
    position: absolute; /* Positioned relative to the search container */
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; /* Same width as the input field */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    background-color: white;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }